.form-container {
    width: 600px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.form-container .form-title {
    font-size: 35px;
    line-height: 42px;
    font-weight: 400;
    color: #2A414F;
}

.form-input-group {
    margin-bottom: 15px;
}

.form-input-group label {
    display: block;
    margin-left: 5px;
}

.form-input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 25px;
}

.form-submit {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: 0;
    width: 415px;
    height: 55px;
    outline: none;
    font-size: 20px;
    transition: .3s;
}
.form-submit:hover {
    background: rgba(255, 153, 0, 0.7);
}

.form-link {
    color: #FF9900;
    text-decoration: none;
}